<div class="">

  {{!-- Visual Sidenav for Neck, Shoulders, Lowerback, Wrists --}}
  <div class="visual-sidenav">
    <img = src="back-nav.jpg">
  </div>

  {{!-- AJAX Windows --}}
  <div class="shoji-windows">
    <div class="top-window">
      <div>
        <div> <h5> Causes </h5> </div>
        <div>
          <p> ss </p>
        </div>
      </div>
      <div>
        <div> <h5> Corrections </h5> </div>
        <div>
          <p>  </p>
        </div>
      </div>
    </div>

    <div class="bottom-windows">
      <div class="bottom-L-window">

      </div>
      <div class="bottom-R-window">

      </div>
    </div>

  </div>
</div>