<div class="main-div">

  {{!-- Visual Sidenav for Neck, Shoulders, Lowerback, Wrists --}}
  <div class="visual-nav">
    <img src="images/back-nav.jpg" alt="visual-nav">
  </div>

  {{!-- AJAX Windows --}}
  <div class="R-div">

    <div class="top-window">
      <div>
        <div> <h6> Causes & Corrections</h6> <hr> </div>
        <div>
          <p> </p>
        </div>
      </div>
    </div>

    <div class="bottom-windows">
      <div class="bottom-L-window">
        <h6> SMR </h6> <hr>

      </div>
      <div class="bottom-R-window">
        <h6> Stretches </h6> <hr>
      </div>
    </div>

  </div>

</div>