<div class="">

  {{!-- Visual Sidenav for Neck, Shoulders, Lowerback, Wrists --}}
  <div class="visual-sidenav">
    
  </div>

  {{!-- AJAX Windows --}}
  <div class="shoji-windows">

    <div class="top-window">
      <div>
        <div> <h5> Causes </h5> </div>
        <div>
          <p>  </p>
          <img src="" />
          <img src="" />
        </div>
      </div>
      <div>
        <div> <h5> Corrections </h5> </div>
        <div>
          <p>  </p>
          <img src="" />
          <img src="" />
        </div>
      </div>
    </div>

    <div class="bottom-windows">
      <div class="bottom-L-window">
        <div> <h5> SMR </h5> </div>
        <div>
          <p>  </p>
          <img src="" />
          <img src="" />
        </div>
      </div>
      <div class="bottom-R-window">
        <div> <h5> Stretches </h5> </div>
        <div>
          <p>  </p>
          <img src="" />
          <img src="" />
        </div>
      </div>
    </div>

  </div>
  
</div>